body {
  font-family: helvetica;
}
h1 {
  text-align: center;
}
#coursedate {
  text-align: center;
  font-style: italic;
}
#logo {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
code {
  font-family: Consolas,"courier new";
  font-size:16px
}
pre {
  font-family: Consolas,"courier new";
  font-size:16px;
  margin-left: 6%;
}
header {
  margin-bottom: 10px;
  clear: both;
}
aside {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
aside {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}
ol li {
  list-style-type: none;
  color:blue;
}
.content {
  margin-left: 200px;
  padding-left: 20px;
}
