header {
  grid-area: hd;
}
aside {
  grid-area: aside;
  color: white;
  padding: 10px;
  text-decoration: none;
}
main {
  grid-area: main;
  padding: 10px;
}
footer {
  grid-area: ft;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    'hd hd hd hd hd hd hd hd hd'
    'aside aside main main main main main main main'
    'ft ft ft ft ft ft ft ft ft';
  grid-gap: 10px;
  background-color: #fff; //#2196F3;
  padding: 10px;
}
body {
  font-family: helvetica;
}
h1 {
  text-align: center;
}
#coursedate {
  text-align: center;
  font-style: italic;
}
#logo {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}
ol li {
  list-style-type: none;
  color:blue;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
code {
  font-family: Consolas,"courier new";
  font-size:16px
}
pre {
  font-family: Consolas,"courier new";
  font-size:16px;
  margin-left: 6%;
}

