<h2 id="learning-goals">Learning Goals</h2>
<p>By the end of the quarter, you should demonstrate:</p>
<ul>
    <li>An understanding of the role interactive graphics and dynamic web applications play in the news.</li>
    <li>An awareness of the wide range of ways that code and technology can be applied to the news.</li>
    <li>The ability to create and deploy a static website.</li>
    <li>Proficiency in the basic tools and best practices of software development and collaboration.</li>
    <li>The ability to programmatically acquire and prepare data for use in a news interactive or application.</li>
    <li>The ability to design and implement interactive data visualizations and dynamic news apps.</li>
</ul>
