<h2 id="professional-journalism-disclosure">Professional Journalism Disclosure</h2>
<p>It’s possible that work in this course will be conducted as part of reporting efforts 
aimed at publication on the Peninsula Press. When interviewing anyone for a story 
(on or off campus) you need to properly identify yourself &quot;as a student reporter 
writing BOTH an in-class assignment AND a PUBLIC story – one that could be published by 
major media outlets: sfgate.com, The San Francisco Chronicle or KQED via the 
Peninsula Press.&quot;</p>

<p><em>You must make this very clear. You need to MAKE SURE that your interviewee 
understands their words and image could appear in major media.</em></p>