<h2 id="recommended-reading">Requirements</h2>

<h3 id="technical-reqs">Technical</h3>
<p>We'll be using mostly free and open source tools in this class, along with some
cloud platforms that require registration. 

The only aspect of this class that may cost some money (pennies to a few dollars per month)
will be Amazon Web Services.</p>

<p>Below is a list of technical requirements. This list may be updated over the course
of the quarter:</p>
<ul>
    <li><a href="https://aws.amazon.com/">Amazon Web Services</a></li>
    <li>Bash shell</li>
    <li>Code editor (<a href="https://code.visualstudio.com/">VS Code</a> is recommended)</li>
    <li>Firefox web browser</li>
    <li><a href="https://github.com/">Github</a> and git</li>
    <li>Python 3</li>
    <li>Slack</li>
</ul>

<p>Mac users should also install <a href="https://brew.sh/">Homebrew</a> and <a href="https://developer.apple.com/xcode/">XCode</a>.
On the command-line:</p>
<pre>
# Install XCode
xcode-select --install

# Install Homebrew
/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
</pre>

<p><strong>This class will have limited support for the Windows environment.</strong> If you're on a Windows OS,
you'll need to find a way to gain access to a Mac or Linux machine. The easiest option is to use
the Macs available in class. Outside of class time, we can discuss alternatives that will
let you run Linux on a personal Windows machine.</p>

<h3 id="recommended-reading">Reading/Reference</h2>
<p>This course has no required textbooks.</p>
<p>We'll use a mix of free online resources to level up on programming fundamentals and best practices. Print books will be on reserve at <a href="http://library.stanford.edu/libraries/green/about">Green Library</a>.
<em> This list may be updated over the course of the quarter.</em></p>

<ul>
    <li><a href="https://automatetheboringstuff.com">Automate the Boring Stuff with Python</a></li>
    <li><a href="https://docs.python-guide.org">The Hitchhiker's Guide to Python</a></li>
    <li><a href="https://www.amazon.com/exec/obidos/ASIN/020161622X/codihorr-20">The Pragmatic Programmer: From Journeyman to Master</a> (print)</li>
</ul>
