<h2 id="about-comm-177p-277p">About {{ coursenum }}</h2>
<table>
    <tr>
        <td>Location:</td>
        <td>Video conference (links posted on Canvas)</td>
    </tr>
    <tr>
        <td>Time:</td>
        <td>T/TH 1:30 - 2:50PM</td>
    </tr>
    <tr>
        <td>Dates:</td>
        <td>April 7 - June 6, 2020</td>
    </tr>
    <tr>
        <td>Instructor:</td><td><a href="https://comm.stanford.edu/faculty-tumgoren/">Serdar Tumgoren</a>, <em>Lorry I. Lokey Visiting Professor in Professional Journalism</em></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><a href="mailto:tumgoren@stanford.edu">tumgoren@stanford.edu</a></td>
    </tr>
</table>

<h2 id="office-hours">Office Hours</h2>

<table>
    <tr>
        <td>Time:</td>
        <td>Wednesdays, 9:00-10:00am and by appointment</td>
    </tr>
    </tr>
        <td>Place:</td>
        <td>Video conference.</td>
    </tr>
</table>
<p>I'm happy to meet during or outside of normally scheduled office hours. 
Generally, the best time to reach me is on Mon/Wed/Fri mornings, from 9am to noon.
Please reach out if you have questions about the coursework or generally want to 
discuss story ideas, data journalism or other topics.</p>
