<h2 id="course-description">Course Description</h2>

<p>This course introduces students to the technical and workflow skills used by
news application teams. Students will form into groups to conceive and execute
a news app or tool, along the way learning and applying best practices for team
collaboration, goal-setting and project management.</p>
