<h2 id="structure">Structure</h2>

<p>Classes will include discussion/lecture on features of news interactives and applications 
on the web, as well as hands-on work building interactive 
visualizations and applications.</p>

<p>Each student is expected to participate in class discussions, contribute constructive 
critique of work, and come to class having completed assignments and readings. 
Student work will be discussed and critiqued in class.</p>

<p>Class begins promptly. Lateness or unexcused absence will affect your grade. 
If you have to miss class, notify me in advance. 
Please refrain from being on a device in class unless it is related to class.</p>