body {
  font-family: helvetica;
  font-size: 100%;
}
header {
  grid-area: hd;
  text-align: center;
}
nav {
  grid-area: nav;
}
nav ul {
  margin: 0;
  padding: 0;
  background-color: #4d4f53;
  list-style-type: none;
  overflow: hidden;
}
nav ul li {
  float: left;
}
nav li a {
  display: block;
  color: #f2f2f2;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
}
nav li a:hover {
  background-color: #8c1515;
  padding: 12px 16px;
}
aside {
  grid-area: aside;
  font-size: 14px;
  line-height: 1.25;
}
aside a {
  text-decoration: none;
  border-bottom: 1.5px dotted #000;
  color: #444;
}
aside a:hover {
  border-bottom-style: solid;
  border-bottom-color: #8c1515;
}
main {
  grid-area: main;
  line-height: 1.25;
  padding: 10px;
}
footer {
  grid-area: ft;
  color: #444;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 200px minmax(auto, 700px);
  grid-template-areas:
    '. hd'
    '. nav'
    'aside main'
    '. ft';
  grid-gap: 10px;
  background-color: #fff;
}
#site {
  margin-bottom: 10px;
  font-size: 170%;
}
#coursenum {
  //font-size: 15px;
}
#coursedate {
  text-align: center;
  font-style: italic;
  padding-bottom: 30px;
}
#copyright {
  padding: 10px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: left;
  padding-top: 15px;
}
h3 {
  text-align: left;
}
ol li {
  list-style-type: none;
  text-decoration: none;
  color:blue;
  padding: 5px;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
/* for Markdown-generated, inline code */
ul code {
  font-family: Consolas,"courier new";
  font-size:1.125em;
  background-color: #efefef;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: .15em;
}
/* Table bits */
table {
  white-space: nowrap;
}
th, td {
  padding: 3px 13px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
th.center, td.center {
  text-align: center;
}
img {
  width: 100%;
  height: auto;
}

img[alt="Wonka"] {
  width: 50%;
  width: 450px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 575px) {
  .grid-container {
    display: block;
    font-size: 90%;
  }
  header {
    text-align: left;
  }
  /*
  nav.sitenav {
    float: none;
  }
  nav.sitenav ul {
    margin: 0;
    padding: 0;
    background-color: #4d4f53;
    list-style-type: none;
    overflow: hidden;
  }
  nav.sitenav a {
    //background-color: #4d4f53;
    //color: #f2f2f2;
    text-align: left;
    text-decoration: none;
  }
  nav.sitenav a:hover {
    background-color: #8c1515;
  }
  */
  .clearfix {
    clear: both;
  }
  aside {
    display: none;
  }
  #site {
    text-align: center;
    margin-bottom: 10px;
    font-size: 140%;
  }
  #coursenum {
    text-align: center;
    margin-bottom: 10px;
    font-size: 90%;
  }
  #coursedate {
    text-align: center;
    font-style: italic;
  }
  table {
    white-space: normal;
  }
}
