<h2 id="about-comm-177p-277p">About {{ coursenum }}</h2>
<table>
    <tr>
        <td>Location:</td>
        <td><a href="https://campus-map.stanford.edu/?srch=120-S40">McClatchy Hall Studio 40</a></td>
    </tr>
    <tr>
        <td>Time:</td>
        <td>Mon/Wed 1:30 - 3:20pm</td>
    </tr>
    <tr>
        <td>Dates:</td>
        <td>January 8 - March 15, 2024</td>
    </tr>
    <tr>
        <td>Instructor:</td><td><a href="https://comm.stanford.edu/faculty-tumgoren/">Serdar Tumgoren</a>, <em>Lorry I. Lokey Visiting Professor in Professional Journalism</em></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><a href="mailto:tumgoren@stanford.edu">tumgoren@stanford.edu</a></td>
    </tr>
</table>

<h2 id="office-hours">Office Hours</h2>

<table>
    <tr>
        <td>Time:</td>
        <td>Mon/Wed, 9-10am and by appointment</td>
    </tr>
    </tr>
        <td>Place:</td>
        <td>McClatchy Room 342 or Zoom video conference (see Canvas syllabus page for link)</td>
    </tr>
</table>
<p>I'm happy to meet during or outside of normally scheduled office hours.
Please send an email or reach out on Slack to schedule a time to meet.</p>
