<h2 id="grading">Grading</h2>
<p>Grading is based on the <a href="https://pages.collegeboard.org/how-to-convert-gpa-4.0-scale">College Board scale</a>.

<p>The overall grade is broken into three categories and weighted:</p>
<ul>
    <li><strong>(15%)</strong> <em>Participation</em> in class discussions and exercises</li>
    <li><strong>(40%)</strong> Ongoing, small <em>assignments and in-class work</em></li>
    <li><strong>(45%)</strong> <em>Projects</em>: Two or three larger projects that will apply technical skills to a news project on the web</li>
</ul>

<p>Many assignments will involve coding and related technical work. On such assignments,
points will be deducted for:
<ul>
    <li>Incomplete or incorrect work</li>
    <li>Submitting the assignment incorrectly</li>
    <li>Failure to follow instructions</li>
    <li>Code quality (e.g. using camelCase instead of snake_case variable names in Python)</li>
    <li>Lateness (see below for more details)</li>
</ul>

<h3 id="submissions">Assignment submissions</h3>
<p>Assignments will generally be detailed on this site.
Technical work should be completed in your private Github repo and, if appropriate, deployed to your
personal project site. Assignments that are not deployed (if required) will lose points. Further,
the URL to your deployed project must be submitted via Canvas. Written assignments must be uploaded
via Canvas.</p>

<h3 id="deadlines">Deadlines</h3>
<p>Just as in a newsroom, it's imperative to make deadlines. 
Please get an early start on assignments -- especially larger projects -- in order 
to complete them on time. If you run into trouble, I'm happy to help. Give yourself
some runway to work through unexpected technical challenges and seek out help when necessary.</p>

<h3 id="excused-absences">Absences</h3>
<p>We all get sick and, at times, issues arise at home or in our personal lives that 
prevent us from completing work or attending class. I try to be 
understanding and accommodating in such cases <em>as long as you contact me
as soon as possible (ideally before missing a class or assignment)</em> and explain the situation.</p> 

<p>But fair warning: Classes and assignments build on each other. If you miss class
or fall behind on assignments, it may be quite difficult to catch up.</p>

<h3 id="late-policy">Late Policy</h3>
<p>Much of our class work is technical in nature. It's important for us to review
and discuss solutions after an assignment or project has been submitted. In order to do so,
it's critical that everyone submit work on time. <em>Unexcused late submissions of work will be penalized
1/20th of the overall score per day.</em> For an assignment worth 100 points submitted two days late, 
that's a 10 point deduction. A "day" is measured as the 24-hour period following the submission deadline.</p>

<p>Excused late submissions - i.e. when you reach out to me ahead of time to explain the need for a 
late submission and come up with a new deadline - will only be penalized 1/20th of the grade. 
</p>

<h3 id="extra-credit">Extra Credit</h3>
<p>There may be one or more opportunities to earn extra credit during the course.
Extra credit can only:</p>
<ul>
    <li>be earned for work submitted on time.</li>
    <li>boost your overall course grade by half a letter (e.g. B+ to A-).</li>
</ul>
