---
homepage: "https://data-driven.news/bna/2019/"
---
{% extends "layouts/base.njk" %}

{% block header %}
  <div id="site">{{ coursename }}</div>
  <div id="coursenum">Comm {{ coursenum }} ({{ year }})</div>
{% endblock %}

{% block sitenav %}
  <a href="/bna/{{ year }}/">Syllabus</a>
  <a href="/bna/{{ year }}/classnotes/">Class notes</a>
  <a href="/bna/{{ year }}/assignments/">Assignments</a>
{% endblock %}
