<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="grid-container">
      <header>{% block header %}{% endblock %}</header>
      <nav>{% block sitenav %}{% endblock %}</nav>
      {% block pagenav %}
      {{ content | toc | safe }}
      {% endblock %}
      <main>
        {% block content %}{{ content | safe }}{% endblock %}
      </main>
      <footer>
        {% block footer %}
        &copy; Copyright 2019 by Serdar Tumgoren.
        {% endblock %}
      </footer>
    </div>
  </body>
</html>
