---
homepage: "https://data-driven.news/bna/2019/"
---
{% extends "layouts/base.njk" %}

{% block header %}
  <div id="site">{{ coursename }}</div>
  <div id="coursenum">COMM {{ coursenum }} ({{ year }})</div>
{% endblock %}

{% block sitenav %}
  <ul>
    <li><a href="/bna/{{ year }}/">Syllabus</a></li>
    <li><a href="/bna/{{ year }}/classnotes/">Class notes</a></li>
    <li><!-- TODO: add index pages
    <li><a href="/bna/{{ year }}/assignments/">Assignments</a></li>
    -->
  </ul>
{% endblock %}
