---
layout: layouts/base.njk
title: Building News Applications
coursenum: 177T/277T
year: 2019
homepage: "https://data-driven.news/bna/2019/"
---

<header>
  <h1>{{ title }}</h1>
  <div id="coursedate">Day {{ daynum }} ~  {{ coursedate }}</div>
  <nav class="sitenav">
    <a href="/bna/{{ year }}">Syllabus</a>
    <a href="/bna/{{ year }}/classnotes/">Class notes</a>
    <a href="/bna/{{ year }}/assignments/">Assignments</a>
  </nav>
</header>

{{ content | toc | safe }}

<main>
{{ content | safe }}
</main>

<footer>
  <p>FOOTER</p>
</footer>
