---
layout: layouts/base.njk
title: Building News Applications
coursenum: 177T/277T
year: 2019
homepage: "https://data-driven.news/bna/2019/"
---
<content>
    <h1>Day {{ daynum }} ~  {{ title }} </h1>
    <p id="coursedate"><em>{{ coursedate }}</em></p>
    {{ content | safe }}
</content>
