---
layout: layouts/base.njk
title: Building News Applications
coursenum: 177T/277T
year: 2019
homepage: "https://data-driven.news/bna/2019/"
---

<header>
  <h1>{{ title }}</h1>
  <div id="coursedate">Day {{ daynum }} ~  {{ coursedate }}</div>
</header>

{{ content | toc | safe }}

<div class="content">
{{ content | safe }}
</div>
